:root {
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-brand-normal: #819b57;
    --color-brand-dark: #465929;
    --color-brand-light: #cfcfbc;
    --color-secondary-dark: #a28268;
  }
  
    $bp-mob: 480px;
    $bp-tab: 768px;
    $bp-pc: 1280px;