.footer {
    position: relative;
    overflow: hidden;
    padding: 32px 0;
    background-color: var(--color-primary-dark);
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .footer-container {
    width: 100%;
    display: flex;
    gap: 20px;
  }
  
  .footer-nav,
  .footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
  }
  
  .footer-logo,
  .footer-menu {
    flex-grow: 1;
  }
  
  .address-link,
  .address-info {
    flex-grow: 1;
  }
  
  .address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
  }
  
  .address-link:hover {
    color: var(--color-brand-normal);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }
  
  .address-icon {
    fill: var(--color-primary-light);
  }
  
  .address-icon:hover {
    fill: var(--color-brand-normal);
  }
  
  .address-copyright {
    font-size: 14px;
    color: var(--color-secondary-dark);
  }
  
  .footer::before {
    position: absolute;
    width: 241px;
    height: 370px;
    background-size: 100%;
    background-image: url(../images/bread1.png);
    content: "";
    bottom: -220px;
    left: -50px;
  }
  
  .footer::after {
    position: absolute;
    width: 415px;
    height: 428px;
    background-size: 100%;
    background-image: url(../images/bread2.png);
    content: "";
    bottom: -220px;
    right: 100px;
  }